*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.adea/*
app/build/*
.idea/*
*.iml

views/.idea/*
views/gradle/*
views/build/*
views/gradlew
views/gradlew.bat
views/local.properties
